<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Employee
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-button class="dropdown-item" routerLink="employee/registration">Registration</a>
    <mat-divider></mat-divider>
    <a mat-button class="dropdown-item" routerLink="employee/employeeAttendence">Attendence</a>
    <mat-divider></mat-divider>
    <a mat-button class="dropdown-item" routerLink="employee/employeeAllocation">Allocation</a>
    <mat-divider></mat-divider>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Vendors
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-button class="dropdown-item" routerLink="vendor/supplier">supplier</a>
    <mat-divider></mat-divider>
    <a mat-button class="dropdown-item" routerLink="vendor/contractor">contractor</a>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Accounts
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-button class="dropdown-item" routerLink="accounts/payment">Payment</a>
    <mat-divider></mat-divider>
    <a mat-button class="dropdown-item" routerLink="accounts/pettycashbook">pettycashbook</a>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Reports
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-button class="dropdown-item" routerLink="employee/search">Employee Details</a>
    <mat-divider></mat-divider>
    <a mat-button class="dropdown-item" routerLink="report/attendence">Attendence</a>
  </mat-expansion-panel>
</mat-accordion>