<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Attendence</h3>
                <p class="page-dir"> <i class="material-icons">home</i>Home / Attendence</p>
            </div>
        </div>
    </div>
</div>
<form class="example-form">
    <div class="example-container">
        <mat-form-field class="example-full-width">


            <mat-select name="workSite" (change)="selectEmployeesBySite()" placeholder="Select a Site" [(ngModel)]="workSite">
                <mat-option *ngFor="let site of workSites" [value]="site.SiteId">
                    {{site.SiteName}}
                </mat-option>
            </mat-select>


        </mat-form-field>


        <table mat-table [dataSource]="searchdata" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="EmployeeCode">
                <th mat-header-cell *matHeaderCellDef> Employee code </th>
                <td mat-cell *matCellDef="let element"> {{element.EmployeeCode}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="FirstName">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="employee_type_name">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.employee_type_name}} </td>
            </ng-container>
            <ng-container matColumnDef="Mark">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput [matDatepicker]="picker1" placeholder="Date" (dateChange)="getAttendencebyDate($event)"
                        [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox name="attendence[element.EmployeeID]" [checked]="element.status" (change)="saveAttendence(element)"
                        [(ngModel)]="attendence[element.EmployeeID]"></mat-checkbox>

                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</form>
<!-- <table class="table table-hover table-responsive-md mb-0">

   
    <thead>
        <tr>
            <th scope="row">Code</th>
            <th class="th-lg">Name</th>
            <th class="th-lg">Type</th>
            <th>

                <input matInput [matDatepicker]="picker1" placeholder="Date" (dateChange)="getAttendencebyDate($event)"
                    [formControl]="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>

            </th>

            <th></th>
            <th></th>
        </tr>
    </thead>
   
    <tbody>
        <tr *ngFor="let emp of searchdata">
            <th scope="row">{{emp.EmployeeCode}}</th>
            <td>{{emp.FirstName}}</td>
            <td>{{emp.employee_type_name}}</td>

            <td>
                <input [disabled]="attendence[emp.EmployeeID]" type="checkbox" [(ngModel)]="attendence[emp.EmployeeID]"
                    (change)="saveAttendence(emp)">
            </td>


        </tr>

    </tbody>
    
</table> -->