<mat-card class="contentMargin">
  <form class="example-form" [formGroup]="bankForm" (ngSubmit)="addNewBank(bankForm.value)">
    <div class="example-container">
      <div class="flex-container">
        <div style="flex-grow: 6;margin-right: 10px;">
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Bank Name">
          </mat-form-field>
        </div>
        <div style="flex-grow: 6">
          <mat-form-field>
            <input formControlName="accNo" matInput placeholder="A/c number">
          </mat-form-field>
        </div>
      </div>
      <div class="flex-container">
        <div style="flex-grow: 6;margin-right: 10px;">
          <mat-form-field>
            <input formControlName="branch" matInput placeholder="Branch">
          </mat-form-field>
        </div>
        <div style="flex-grow: 6">
          <mat-form-field>
            <input formControlName="ifsc" matInput placeholder="IFSC">
          </mat-form-field>
        </div>
      </div>
      <div class="flex-container">
        <div style="flex-grow: 10;">
          <button type='submit' mat-raised-button color="primary">Add</button>
        </div>
      </div>

    </div>
  </form>
  <div class="wrapper" *ngIf="BANK_DATA">
    <div class="Rtable Rtable--5cols Rtable--collapse">

      <div class="Rtable-row Rtable-row--head">
        <div class="Rtable-cell date-cell column-heading">Bank</div>
        <div class="Rtable-cell topic-cell column-heading">A/c number</div>
        <div class="Rtable-cell access-link-cell column-heading">Branch</div>
        <div class="Rtable-cell replay-link-cell column-heading">IFSC</div>
        <div class="Rtable-cell replay-link-cell column-heading"></div>
      </div>

      <div class="Rtable-row is-striped" *ngFor="let bank of BANK_DATA">
        <div class="Rtable-cell date-cell">
          <div class="Rtable-cell--heading">Bank</div>
          <div class="Rtable-cell--content date-content">{{bank.name}}</div>
        </div>
        <div class="Rtable-cell topic-cell">
          <div class="Rtable-cell--heading">A/c number</div>
          <div class="Rtable-cell--content title-content">{{bank.accNo}}</div>
        </div>
        <div class="Rtable-cell access-link-cell">
          <div class="Rtable-cell--heading">Branch</div>
          <div class="Rtable-cell--content access-link-content">{{bank.branch}}</div>
        </div>
        <div class="Rtable-cell replay-link-cell">
          <div class="Rtable-cell--heading">IFSC</div>
          <div class="Rtable-cell--content replay-link-content">{{bank.ifsc}}</div>
        </div>
        <div class="Rtable-cell Rtable-cell--foot pdf-cell">
          <div class="Rtable-cell--heading"></div>
          <div class="Rtable-cell--content pdf-content"><button mat-raised-button color="warn" (click)="removeBank(bank.id)">Remove</button></div>
        </div>
      </div>
    </div>
  </div>

</mat-card>