<mat-card class="contentMargin">
    <form class="example-form">
      <div class="example-container">
        <div class="flex-container">
          <div style="flex-grow: 6;margin-right: 10px;">
            <mat-form-field>
              <input matInput placeholder="Bank Name">
            </mat-form-field>
          </div>
          <div style="flex-grow: 6">
              <mat-form-field>
                  <input matInput placeholder="A/c number">
                </mat-form-field>
          </div>
        </div>
        <div class="flex-container">
          <div style="flex-grow: 6;margin-right: 10px;">
            <mat-form-field>
              <input matInput placeholder="Branch">
            </mat-form-field>
          </div>
          <div style="flex-grow: 6">
            <mat-form-field>
              <input matInput placeholder="IFSC">
            </mat-form-field>
          </div>
        </div>
       
      </div>
    </form>
  </mat-card>