.flex-container {
  display: flex;
  align-items: stretch;
  }
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
 
  .example-button-row button {
    margin-right: 8px;
  }

  
  .example-selected-value {
    margin: 15px 0;
  }