<div class="flex-inner-container">
  <div style="flex-grow: 6;margin-right: 10px;">
    <mat-form-field>
      <mat-select placeholder="To">
        <mat-option value="option">ravi</mat-option>
        <mat-option value="option">ramu</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="flex-grow: 6">
    <mat-form-field>
      <mat-select placeholder="To A/C">
        <mat-option value="option">A234234</mat-option>
        <mat-option value="option">icefsdgfsdgd</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>