<div ng-template #template class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete Employee
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="DeleteEmployee()">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- /////////-->



<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h3 class="card-title">Search Employee</h3>
                        <p class="page-dir"> <i class="material-icons">home</i>Home / Employee / Search Employee</p>
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--  
    <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
                <div class="md-form">
                    <i class="fa fa-suitcase prefix grey-text"></i>
                    
        
                    <select id="empType" (change)="getEmployee()" class="mdb-select form-control" [(ngModel)]="empType" mdbInputDirective>
                      <option  *ngFor="let type of employeetype" [value]="type.type_id">{{type.employee_type_name}}</option>
                    </select>
                    <label for="empType" class="font-weight-light">Work Type</label>
  
            
                  </div>
            
        
              <div class="input-group mt-3 mb-3">
                    <input class="form-control my-0 py-1 grey-border" (keydown.enter)="getEmployee($event)" type="text" [(ngModel)]="searchKey" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">

                </div>
              </div>



              <table class="table table-hover">
                  <thead>
        
                    <tr>
                            <th scope="col" (click)="sortWithTitle('employee_code')">Code</th>
                            <th scope="col" (click)="sortWithTitle('first_name')">Name</th>
                            <th scope="col" (click)="sortWithTitle('mobile')">Contact Number</th>
                            <th scope="col" (click)="sortWithTitle('identity_card_number')">Aadhaar Number</th>
                            <th scope="col" (click)="sortWithTitle('insurance_number')">Insurance Number</th>
                            <th scope="col" (click)="sortWithTitle('address')">Address</th>
                    <th></th>
                    <th></th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr *ngFor="let emp of searchdata" [ngClass]="{'has-error': emp.insurance_number==''}">
                                <th scope="row">{{emp.employee_code}}</th>
                                <td>{{emp.first_name}}</td>
                                <td>{{emp.mobile}}</td>
                                <td>{{emp.identity_card_number}}</td>
                                <td>{{emp.insurance_number}}</td>
                                <td>{{emp.address}}</td>
                                <td>
                                    <button class="btn btn-link" (click)="editEmployee(emp.employee_id)">
                                            <i class="material-icons">add_box</i>
                                    </button>
                                </td>
                               <td>
                                   <button class="btn btn-link" (click)="employeeToDelete=emp" data-toggle="modal" data-target="#exampleModal">
                                        <i class="material-icons">remove_circle</i>
                                    </button>
                                </td>
                               
                            </tr>
                           
                  </tbody>
                </table>
            </div>
          </div>
        </div>
    </div> -->

<form class="example-form">
    <div class="example-container">
        <mat-form-field class="example-full-width">
            <mat-select name="workSite" (selectionChange)="getEmployee()" placeholder="Select a Site" [(ngModel)]="empType">
                <mat-option *ngFor="let type of employeetype" [value]="type.type_id">
                    {{type.employee_type_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput (input)="getEmployee()" [(ngModel)]="searchKey" name="Search" placeholder="Search">
        </mat-form-field>


        <table mat-table [dataSource]="searchdata" matSort class="mat-elevation-z8" >

            <!--- Note that these columns can be defined in any order.
                                    The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->

            <ng-container matColumnDef="employee_code">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Employee code </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'has-error': element.insurance_number==''}"> {{element.employee_code}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="first_name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'has-error': element.insurance_number==''}"> {{element.first_name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef> Mobile No </th>
                <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
            </ng-container>
            <ng-container matColumnDef="identity_card_number">
                <th mat-header-cell *matHeaderCellDef> ID Card </th>
                <td mat-cell *matCellDef="let element"> {{element.identity_card_number}} </td>
            </ng-container>
            <ng-container matColumnDef="insurance_number">
                <th mat-header-cell *matHeaderCellDef> Insurance </th>
                <td mat-cell *matCellDef="let element"> {{element.insurance_number}} </td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
            <ng-container matColumnDef="allocateTo">
                <th mat-header-cell *matHeaderCellDef>
                   Edit 
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button name="edit" (click)="editEmployee(element.employee_id)">
                        Edit
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="removeAllocation">
                <th mat-header-cell *matHeaderCellDef>
                 Remove

                </th>
                <td mat-cell *matCellDef="let element">

                    <button mat-raised-button (click)="openDialog(element)" color="warn">Remove</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</form>