// .input-group.md-form.form-sm.form-2 input {
//     border: 1px solid #bdbdbd;
//     border-top-left-radius: 0.25rem;
//     border-bottom-left-radius: 0.25rem;
// }
// .input-group.md-form.form-sm.form-2 input.grey-border  {
//     border: 1px solid #e9ecef;
// }
// .input-group input[type=text]:focus:not([readonly]) {
//     box-shadow: none;
// }
// .form-2 .input-group-text {
//     border: 1px solid #e9ecef;
// }
.has-error{
    color: red
    }

.example-form {
    min-width: 150px;
    max-width: 100%;
   
    margin: 3px 8px;
  }
  
  .example-full-width {
    width: 100%;
  }
  table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  th.mat-header-cell{
    min-width: 115px;
  }
 