<mat-card class="contentMargin">
  <form class="example-form" [formGroup]="paymentBlock">
    <div class="example-container">
      <div class="flex-inner-container">
        <div style="flex-grow: 7;margin-right: 10px;">
          <app-site-drop-down></app-site-drop-down>
        </div>
        <div style="flex-grow: 6">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="flex-inner-container">
        <div style="flex-grow: 10;">
          <mat-form-field>
            <mat-select placeholder="Select Payment Type" formControlName="paymentType">
              <mat-option value="fundTransfer">Fund Transfer</mat-option>
              <mat-option value="laborPayment">labour Payment</mat-option>
              <mat-option value="contractor">contractor</mat-option>
              <mat-option value="Supplier">Supplier</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="flex-inner-container">
        <div style="flex-grow: 6;">
          <mat-radio-group class="example-radio-group" name="favoriteSeason" formControlName="cachTransferMode">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
              {{ season }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="flex-inner-container">
        <div style="flex-grow: 10;">
          <app-from-account-dropdown></app-from-account-dropdown>
        </div>
      </div>
      <div class="flex-inner-container">
        <div style="flex-grow: 10;">
          <app-to-account-dropdown></app-to-account-dropdown>
        </div>
      </div>
      <div class="flex-inner-container" [hidden]="favoriteSeason != 'Bank'">
        <div style="flex-grow: 7">
          <mat-form-field>
            <mat-select placeholder="Select A/c" formControlName="bankId">
              <mat-option value="option">2534223425</mat-option>
              <mat-option value="option">1232423534</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="flex-inner-container">
        <div style="flex-grow: 5;margin-right: 10px;">
          <mat-form-field>
            <input matInput placeholder="Amount" formControlName="amount" />
          </mat-form-field>
        </div>
        <div style="flex-grow: 8">
          <mat-form-field>
            <input matInput placeholder="Description" formControlName="description" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-card>