.flex-inner-container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .flex-inner-container>div>.mat-form-field{
      display:block 
  }
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }