<mat-card class="contentMargin">
  <form [formGroup]="laborPaymentForm" class="example-form">
    <div class="example-container">
      <div class="flex-inner-container">
        <div style="flex-grow: 5;">
          <p>
            Pay Per Day
          </p>
        </div>
        <div style="flex-grow: 5">
          <mat-form-field>
            <input matInput placeholder="amount" formControlName="payPerDay" />
          </mat-form-field>
        </div>
      </div>
      <div class="flex-inner-container">
        <div style="flex-grow: 5;">
          <p>
            Pay Per OverTime
          </p>
        </div>
        <div style="flex-grow: 5">
          <mat-form-field>
            <input
              matInput
              placeholder="Amount"
              formControlName="payPeroverTime"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="flex-inner-container">
        <div style="flex-grow: 5;">
          <p>
            Additional Hours
          </p>
        </div>
        <div style="flex-grow: 5">
          <mat-form-field>
            <input
              matInput
              placeholder="No of hours"
              formControlName="additionalHours"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-card>
